{% extends 'FlavourApp/loaders.html' %} {% block title %} Feedback-Flavoursome {% endblock %}

{% block Feedback %}

<div class="Topdown">
    <div></div>
    <div class="Feedback" id="Feedid">
        <div></div>
        <section id="contact">
            <form action="/Flavoursome/feedback/" method="POST">{% csrf_token %}
                <div class="Feedform">
                    <h1 class="feed" id="feedback">Feedback</h1>
                    <input type="text" name="name" placeholder="Enter Your Name">
                    <input type="text" name="email" placeholder="Enter Your E-mail">
                    <input type="text" name="mobile" placeholder="Enter Your Mobile Number">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your Message" height="" class="message"></textarea>
                    <button type="submit" class="btn">Submit Now</button>
                    <div class="whatsapp" style="margin: 20px;">
                        <i class="fa fa-whatsapp" style="font-size:33px;color:green;margin:10px;"></i>
                        <span>Contact me on </span>
                        <a style="color: rgb(15, 196, 187);"
                            href="https://api.whatsapp.com/send/?phone=919285073773&text&app_absent=0"
                            target="_blank"> Whatsapp</a>
                    </div>
                </div>
            </form>
        </section>
        <div></div>
    </div>
    <div></div>
</div>
{% endblock %}